{% extends 'base.html' %}

{% block title %}
    Modifier une tâche |
{% endblock title %}

{% block content %}
    <h2 class="mon-titre">Modifier la tâche</h2>
    <hr class="separator">
    <form method="post">
        {% csrf_token %}
        <p>{{update_form.titre.label_tag}} {{ update_form.titre }}</p>
        <p>{{update_form.description.label_tag}} {{ update_form.description }}</p>
        <p>{{update_form.date_creation.label_tag}} {{ update_form.date_creation }}</p>
        <p>{{update_form.date_echeance.label_tag}} {{ update_form.date_echeance }}</p>
        <p>{{update_form.status.label_tag}} {{ update_form.status }}</p>
        <button type="submit" class="btn btn-success">Enregistrer les modifications</button> <a href="{% url 'page-home' %}" class="btn btn-light">Retour page d'accueil</a>
    </form>
{% endblock content %}